asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
coverage==7.6.12
coveralls
Django==4.2.19
docopt==0.6.2
flake8==7.1.2
idna==3.10
mccabe==0.7.0
pycodestyle==2.12.1
pyflakes==3.2.0
python-dotenv==1.0.1
requests==2.32
sqlparse==0.5.3
typing-extensions==4.12.2
urllib3==2.3.0
